{% extends "admin_base.html" %}

{% block title %}Sporočila{% endblock title %}

{% block content2 %}

    {% if admin %}
        {% for item in message %}

            <div class="container kontakt_admin">
                <div>
                    <p class="admin_levo">Čas: <small>{{ item.created.strftime('%d.%m.%Y at %H:%M:%S') }}</small></p>
                    <p class="admin_desno">Google username: <small>{{ item.user }}</small></p>
                </div><br><hr>
                <p class="admin"><b><span class="kontakt_info">Ime:</span></b> <em>{{ item.name }}</em></p>
                <p class="admin"><b><span class="kontakt_info">Email:</span></b> <em>{{ item.email }}</em></p>
                <p class="admin"><b><span class="kontakt_info">Sporočilo:</span></b> {{ item.message }}</p>
            </div>

        {% endfor %}
    {% else %}

        <div class="container base_vpis">
            <h3 class="admin">Ja poba, ti pa nisi admin...</h3>
        </div>

    {% endif %}

{% endblock content2 %}
