{% extends "admin_base.html" %}

{% block title %}Sporočila{% endblock title %}

{% block content2 %}

    {% if admin %}

        {% for item in message %}

            <div class="container kontakt_admin sporocilo_linki">
                <p class="sporocilo_sredina"><span class="kontakt_info sporocilo_levo">Ime:&nbsp;</span><span class="sporocilo_levo">{{ item.name }}</span> <span class="kontakt_info">Mail: </span><a href="/msg/{{ item.key.id() }}">{{ item.user }}</a>  <span class="sporocilo_desno">{{ item.created.strftime('%d.%m.%Y') }}</span></p>
            </div>

        {% endfor %}

    {% else %}

        <div class="container base_vpis">
            <h3 class="admin">Ja poba, ti pa nisi admin...</h3>
        </div>

    {% endif %}

{% endblock content2 %}
