<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="Keywords" content="izracun place, izracun, placa">
    <meta name="author" content="Sebastjan Koci, Marko Velkavrh">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="shortcut icon" href="/assets/favicon/b.png">
    <script src="/assets/js/jquery-1.11.3.min.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
</head>
<body>

    <!-- HEADER -->
      <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container container-fluid">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                              <span class="sr-only">Toggle navigation</span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Izracun Place</a>
                  </div>


                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                        <ul class="nav navbar-nav navbar-right">
                              <li class=""><a href="#">Dodaj</a></li>
                              <li class=""><a href="#">Preglej</a></li>
                              <li><a href="#">Vpiši se</a></li>

                        </ul>
                  </div>
            </div>
      </nav>
          {% if logged_in %}


    <!-- zaenkrat prazno -->


          {% else %}


    <!-- če nisi logiran (logiraj se....) -->


          {% endif %}



    {% block content %}
    {% endblock content %}

    <!-- DODAJ FOOTER -->
      <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container container-fluid">

                  <div class="row">
                        <div class="col-md-4">
                              <ul>Avtorja:

                                    <li>Marko Velkavrh &nbsp; <a target="_blank" href="https://www.facebook.com/marko.velkavrh.39"><img class="fbico"  src="http://icons.iconarchive.com/icons/yootheme/social-bookmark/24/social-facebook-box-blue-icon.png"></a><li>
                                    <li>Sebastjan Koci &nbsp; <a target="_blank" href="https://www.facebook.com/sebastjan.koci"><img src="http://icons.iconarchive.com/icons/yootheme/social-bookmark/24/social-facebook-box-blue-icon.png"></a><li>

                              </ul>
                        </div>
                              <div class="col-md-2 col-md-offset-6">

                                    <ul>Ostalo:

                                          <li>Kontakt</li>
                                          <li>Prijavi napako</li>

                                    </ul>

                              </div>
                  </div>
      </nav>
</body>
</html>
