<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="Keywords" content="izracun place, izracun, placa">
    <meta name="author" content="Sebastjan Koci, Marko Velkavrh">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="shortcut icon" href="/assets/favicon/b.png">
    <script src="/assets/js/jquery-1.11.3.min.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
</head>
<body>

    <!-- HEADER -->

      <nav class="navbar navbar-inverse navbar-fixed-top glava">
            <div class="container container-fluid">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                              <span class="sr-only">Toggle navigation</span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Izračun Place</a>
                  </div>




          {% if logged_in %}

      <ul class="nav navbar-nav navbar-right">
            <li class="{% block active1 %}{% endblock active1 %}"><a href="/dodaj">Dodaj</a></li>
            <li class="{% block active2 %}{% endblock active2 %}"><a href="/pregled">Pregled</a></li>
            <li><a href="{{ logout_url }}">Izpis</a></li>
      </ul>



    <!-- zaenkrat prazno -->


          {% else %}


      <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ login_url }}">Vpiši se</a></li>
      </ul>
            </div>




    <!-- če nisi logiran (logiraj se....) -->


          {% endif %}
      </nav>

      <div class="mgr-top"></div>


      {% if logged_in %}

          {% block content %}
          {% endblock content %}


      {% else %}

      <div id="vpis">

            <h3>Če še nisi vpisan se prosim vpiši</h3>

      </div>


      {% endif %}

    <!-- DODAJ FOOTER -->

            <footer class="footer">
                  <div class="container">
                        <div class="row">
                                    <div class="col-md-4">
                                          <ul class="avtorja">Avtorja:

                                                <li class="ime_avtor">Marko Velkavrh &nbsp; <a target="_blank" href="https://www.facebook.com/marko.velkavrh.39"><img class="fbico"  src="http://icons.iconarchive.com/icons/yootheme/social-bookmark/24/social-facebook-box-blue-icon.png"></a></li>
                                                <li class="ime_avtor">Sebastjan Koci &nbsp; <a target="_blank" href="https://www.facebook.com/sebastjan.koci"><img src="http://icons.iconarchive.com/icons/yootheme/social-bookmark/24/social-facebook-box-blue-icon.png"></a></li>
                                          </ul>

                                    </div>
                                    <div class="col-md-2 col-md-offset-6">

                                          <ul class="avtorja">Ostalo:

                                                <li class="ime_avtor">Kontakt</li>
                                                <li class="ime_avtor">Prijavi napako</li>

                                          </ul>

                                    </div>
                              </div>
                        </div>

            </footer>


</body>
</html>
