{% extends "base.html" %}

{% block title %}Uspešno dodano{% endblock title %}

{% block content %}

    <div class="container siv_kvadrat dodano">
        <h3>Podatki so bili uspešno dodani</h3>
        <a href="/"><button type="button" class="btn btn-default">Domov</button></a>
        <a href="/l2016"><button type="button" class="btn btn-default">Plača</button></a>
        <a href="/dodaj"><button type="button" class="btn btn-default">Dodaj</button></a>
        <br>
        <br>
    </div>

{% endblock content %}
