{% extends "base.html" %}

{% block title %}Dodaj{% endblock title %}

{% block content %}

    <div class="container">

        {% if logged_in %}
        <div class="row hero_area">

            <div class="col-md-6">

                <form class="form-horizontal" role="form">

                    <div class="form-group">
                        <input type="text" class="form-control" id="datum" placeholder="Vpisi dan (npr. 7.8.2015)">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" id="cas_zacetek" placeholder="Vpisi začetek delavnika (npr. 8:30)">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" id="cas_konec" placeholder="Vpiši konec delavnika (npr. 18:30)">
                    </div>

                    <div class="form-group">
                        <input type="vrsta dela" class="form-control" id="delo" placeholder="Katero delo si opravljal ? (Snežilka, butler, morilec...)">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" id="denar" placeholder="Vpisi urno postavko">
                    </div>

                    <div class="form-group">
                        <textarea class="form-control" rows="6" id="opomba" placeholder="Vpiši opombe"></textarea>
                    </div>


                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Potrdi</button>
                    </div>
                </form>
            </div>
        {% else %}

            <center><h1>Please login</h1></center>

        {% endif %}

    </div>

{% endblock content %}
