{% extends "base.html" %}

{% block title %}Dodaj{% endblock title %}

{% block active1 %}active{% endblock active1 %}

{% block content %}

    <p>created: {{ table.created.strftime('%d.%m.%Y ob %H:%M:%S') }}</p>
    <p>datum: {{ table.date }}</p>
    <p>začetek dela: {{ table.start }}</p>
    <p>konec dela: {{ table.end }}</p>
    <p>vrsta dela: {{ table.job_name }}</p>
    <p>urna postavka: {{ table.eur_hour }}</p>
    <p>Opomba: {{ table.note }}</p>
    <p>user: {{ table.user }}</p>
    <p>zaslužek tega dneva: {{ table.daily }}</p>
    <p>zaslužek tega dneva - 15,5%: {{ table.dailywtax }}</p>

    Želiš izbrisati ta dan? <a href="/table/{{ table.key.id() }}/delete"><button>da</button></a>

{% endblock content %}
