{% extends "base.html" %}

{% block title %}Dodaj{% endblock title %}

{% block active1 %}active{% endblock active1 %}

{% block content %}

    <div class="container kontakt_user">
        <div class="row">
            <div class="col-sm-12">
                <p class="user_levo">Dodano: {{ table.created.strftime('%d.%m.%Y ob %H:%M:%S') }}</p>
                <p class="user_desno">Uporabnik: {{ table.user }}</p>
                    <br><hr>
                
                <p class="user_head">PODATKI</p>
                <p class="user"><span class="podatki_span">Datum:</span> {{ table.date }}</p>
                <p class="user"><span class="podatki_span">Začetek dela:</span> {{ table.start }}</p>
                <p class="user"><span class="podatki_span">Konec dela:</span> {{ table.end }}</p>
                <p class="user"><span class="podatki_span">Skupaj ur:</span> {{ table.total_hrs }}ur</p>
                <p class="user"><span class="podatki_span">Vrsta dela:</span> {{ table.job_name }}</p>
                <p class="user"><span class="podatki_span">Urna postavka:</span> {{ table.eur_hour }}€</p>
                <p class="user"><span class="podatki_span">Zaslužek:</span> {{ table.daily }}€</p>
                <p class="user"><span class="podatki_span">Zaslužek (-15,5%):</span> {{ table.dailywtax }}€</p>
                <p class="user"><span class="podatki_span">Opomba:</span> {{ table.note }}</p>
                <hr>

                <span class="izbris_text">Želiš izbrisati ta dan?</span> <a href="/table/{{ table.key.id() }}/delete"><button type="button" class="btn btn-danger">Da</button></a>

                <div class="table_info_button">
                    <a href="/"><button type="button" class="btn btn-default">Domov</button></a>
                    <a href="/l2015"><button type="button" class="btn btn-default">Plača</button></a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
